.feeling-slider {
  width: 100%;
}

::ng-deep {

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
    width: 35px !important;
    height: 35px !important;
  }

  .mat-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
    color: black !important;
  }

}

.btn-primary {
  float: left;
}

mat-spinner {
  margin-left: 10px;
  float: left;
}
