<!-- main app container -->
<!-- <div class="jumbotron" style="background:#C10935"></div> -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- bottom of every page -->
<div class="text-center" style="margin-bottom: 56px;">
  <p>
    <a href="http://google.co.uk" target="_top">Terms & Conditions</a>
  </p>
  <p>
    <a href="http://fairhuman.co.uk" target="_blank">FairHuman.co.uk</a>
  </p>
</div>

<!-- _top: Opens the linked document in the full body of the window

_blank: Opens the linked document in a new window or tab

_self: Opens the linked document in the same frame as it was clicked (this is default)

_parent: Opens the linked document in the parent frame

framename: Opens the linked document in a named frame -->
