<!-- <mat-drawer-container>

  <mat-drawer #sidenav mode="over">
    head
  </mat-drawer>

  <mat-drawer-content>
    asdfasdfasdfasdf
  </mat-drawer-content>

</mat-drawer-container> -->






<mat-toolbar class="tool-bar" *ngIf="true">

  <button mat-icon-button>
    <!-- (click)="sidenav.toggle()" -->

    <mat-icon>menu</mat-icon>
  </button>

  <!-- <mat-toolbar-row> -->
  <!-- <span>Logo</span> -->
  <span class="example-spacer"></span>
  <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
  <!-- <button [disabled]="isLoading" class="btn btn-primary" (click)="logout()">Logout</button> -->

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="material-icons-outlined">account_circle</mat-icon>
    <!-- <mat-icon class="material-icons-outlined" style="color: blue;">account_circle</mat-icon> -->
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onAccount()">
      <mat-icon class="material-icons-outlined">account_box</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon class="material-icons-outlined">settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <!-- </mat-toolbar-row> -->
</mat-toolbar>

<div class="content">
  <div *ngIf="isHome">
    <!-- <button [disabled]="isLoading" class="btn btn-primary" (click)="logout()">Logout</button> -->
    <!-- <div>Welcome back {{user.name}}</div>
    <div>You are now logged as {{user.email}}</div>
    <div>Last log in {{user.lastLogin | date: 'dd/MM/yyyy H:mm'}}</div>
    <div>User Group {{user.userGroupId}}</div>
    <div>User Role {{user.userRoleId}} {{userRole[user.userRoleId]}}</div> -->

    <!-- Records: -->
    <app-record></app-record>
  </div>

  <div *ngIf="isCreate">
    <app-create-record (reload)="reloadRecord()"></app-create-record>
  </div>

  <div *ngIf="isAnalytics">
    This is the analytics page
  </div>
</div>



<!-- <div class="nav-bar">
  <mat-tab-group headerPosition="below" animationDuration="0ms">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div> -->

<div class="nav-bar">
  <button mat-icon-button (click)="onHome()">
    <!-- <img *ngIf="isHome" src="./assets/images/home-filled.svg" />
    <img *ngIf="!isHome" src="./assets/images/home-outlined.svg" /> -->
    <mat-icon *ngIf="isHome">home</mat-icon>
    <mat-icon *ngIf="!isHome" class="material-icons-outlined">home</mat-icon>
  </button>

  <button mat-icon-button (click)="onCreate()">
    <!-- <img *ngIf="isCreate" src="./assets/images/create-filled.svg" />
    <img *ngIf="!isCreate" src="./assets/images/create-outlined.svg" /> -->
    <mat-icon *ngIf="isCreate">create</mat-icon>
    <mat-icon *ngIf="!isCreate" class="material-icons-outlined">create</mat-icon>
  </button>

  <button mat-icon-button (click)="onAnalytics()">
    <!-- <img *ngIf="isAnalytics" src="./assets/images/analytics-filled.svg" />
    <img *ngIf="!isAnalytics" src="./assets/images/analytics-outlined.svg" /> -->
    <mat-icon *ngIf="isAnalytics">cloud</mat-icon>
    <mat-icon *ngIf="!isAnalytics" class="material-icons-outlined">cloud</mat-icon>
  </button>

</div>
