<button [disabled]="isLoading" class="btn btn-primary" (click)="logout()">Logout</button>
<div>Welcome back {{user.name}}</div>
<div>You are now logged as {{user.email}}</div>
<div>Last log in {{user.lastLogin | date: 'dd/MM/yyyy H:mm'}}</div>
<div>User Group {{user.userGroupId}}</div>
<div>User Role {{user.userRoleId}} {{userRole[user.userRoleId]}}</div>

Records:
<app-record></app-record>

<app-create-record (reload)="reloadRecord()"></app-create-record>

<div class="nav-bar">
    <a><img src="./assets/images/home-filled.svg"/></a>
    <a><img src="./assets/images/home-outlined.svg"/></a>

    <a><img src="./assets/images/create-filled.svg"/></a>
    <a><img src="./assets/images/create-outlined.svg"/></a>

    <a><img src="./assets/images/analytics-filled.svg"/></a>
    <a><img src="./assets/images/analytics-outlined.svg"/></a>
</div>