.tool-bar {
  position: fixed;
  top: 0;
  bottom: unset;
  left: 0 !important;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  // background-color: #cfd3d6;
  background-color: #2A506F;
  line-height: 40px;
  height: 40px;
  z-index: 999;
  border-bottom: 1px solid lightgray;

  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }  
}

.content {
  margin-top: 40px;
}

.nav-bar-top {
  @media only screen and (max-width: 768px) {
    display: none;
  }
  
  display: flex;
  flex-direction: row;
  line-height: 40px;
  height: 40px;

  button {
    width: auto;
  }
}

.nav-bar {
  @media only screen and (min-width: 769px) {
    display: none;
  }

  position: fixed;
  top: unset;
  bottom: 0;
  left: 0 !important;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  // background-color: #cfd3d6;
  background-color: #2A506F;
  line-height: 40px;
  height: 40px;
  z-index: 999;
  border-top: 1px solid lightgray;
}

#white-icon{
  color: white;
}